/* OrderConfirmation.css */

.confirmation-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.order-details {
  margin-top: 20px;
}

.order-details h3,
.order-details h4 {
  color: #333;
  margin-bottom: 16px;
  font-weight: bold;
}

.order-details p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.order_confirmation_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.order_confirmation_table th,
.order_confirmation_table td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  font-size: 14px;
  color: #555;
}

.order_confirmation_table th {
  background-color: #f2f2f2;
  font-weight: 600;
}

.order_confirmation_table td img {
  max-width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.order_confirmation_table tr:nth-child(even) {
  background-color: #fafafa;
}

.order_confirmation_table tr:hover {
  background-color: #f1f1f1;
}

.return-shopping-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 20%; /* Set the width to 20% */
  margin: 20px 0; /* Add a 20px gap above and below */
}

.return-shopping-button:hover {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s, box-shadow 0.3s;
  width: 20%; /* Set the width to 20% */
  margin: 20px 0; /* Add a 20px gap above and below */
}

.return-shopping-button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.return-shopping-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure it takes the available space vertically */
  width: 100%; /* Ensure the container takes full width */
}