html {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.site-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 3%;
  background-color: #eec4ff;
  color: black;
  font-size: 16px;
  line-height: 1.5;
  position: relative;
  bottom:0;
  width:100%;
  box-sizing: border-box;
}

.footer-logo, .footer-links, .footer-contact, .footer-businesses {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers content horizontally */
  justify-content: center; /* Centers content vertically if needed */
  text-align: center; /* Ensures text within is centered */
  padding: 10px; /* Optional: adds padding around the content */
}

.footer-logo img {
  width: 180px;  /* Adjust size accordingly */
  height: auto;
}

/* Ensuring that each section takes up equal space */
.footer-logo, .footer-links, .footer-contact, .footer-businesses {
  flex: 1;
  padding: 0 10px; /* Adds padding for spacing between sections */
}

.footer-links ul, .footer-contact p, .footer-businesses div {
  list-style: none;  /* Removes list styling */
  padding: 0;
  margin: 0;
}

.footer-links a{
  text-decoration: none;
  color: black;
}

.footer-businesses img {
  width: 100px; /* Adjust width as necessary to make logos smaller */
  padding: 5px; /* Adds space around each logo */
  height: auto; /* Adjust height automatically to maintain aspect ratio */
}


@media screen and (max-width: 650px) {
  .site-footer {
      flex-direction: column;
      align-items: center;
  }

  .foot-logo, .footer-links, .footer-contact {
      margin: 10px 0;
  }

  .image-links-container {
    flex-direction: row; /* Stack images side by side */
    flex-wrap: wrap; /* Allow images to wrap if necessary */
    justify-content: center;
    
  }
}

@media screen and (min-width: 1400px) {
  .site-footer {
    font-size: 0.92vw;
  }
  .image-links-container img {
    width: 5.9vw; /* Set image width to 1.5vw */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px; /* Optional: add some border radius for styling */
    
  }
  .footer-logo img {
    width: 10vw;  /* Adjust size accordingly */
    height: auto;
  }
}

