/* Header styles */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(237, 241, 236, 1);
    padding: 10px 3%;
    width: 100%;
    z-index: 1;
  }
  
  .site-header .menu-icon,
  .site-header .cart-icon {
    font-size: 2.5em;
    cursor: pointer;
  }
  
  .cart-icon {
    font-size: 2.5em;
    cursor: pointer;
    z-index: 5;
    position: relative;
  }

  .site-header .logo {
    font-size: 1.5em;
    color: #B553DB; /* Adjust the color to match your branding */
  }

  nav {
    position: absolute;
    background-color: #eec4ff;
    width: 100%;
    top: 107px;  /* Adjust based on your header's height */
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
  }

  nav ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
  }

  nav ul li {
    width: 100%;
  }

  nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    text-align: center;
  }

  nav ul li a:hover {
    background-color: #EDF1EC;
  }

  