.search-container { 
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px; /* Increased padding for a bigger input */
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
    font-size: 1.1vw; /* Default: larger screens use vw units */
    min-width: 250px; /* Set a minimum width for the input */
}

.search-container .search-icon {
    padding: 0;
    width: 50px; /* Maintain width for the search icon */
    height: 50px; /* Maintain height for the search icon */
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #20c146;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container .search-image {
    width: 75%; /* Set the image to take up 75% of the box */
    height: 75%; /* Maintain the aspect ratio of the image */
}

/* Media query for smaller screens (868px and below) */
@media (max-width: 868px) {
    .search-input {
        font-size: 16px; /* Adjust font size */
        width: auto; /* Reset width for smaller screens */
        min-width: 150px; /* Set a smaller min-width for mobile */
    }

    .search-container .search-icon {
        width: 40px; /* Maintain size for smaller screens */
        height: 40px; /* Maintain size for smaller screens */
    }

    .search-container .search-image {
        width: 70%;
        height: 70%;
    }
}

.search-container .search-icon:hover {
    background-color: #0056b3;
}
