.search-container { 
    display: flex;
    align-items: center;
}

.search-input {
    padding: 10px; /* Increased padding for a bigger input */
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    flex: 1;
    font-size: 1.1vw; /* Default: larger screens use vw units */
    min-width: 250px; /* Set a minimum width for the input */
    height: 50px;
}

.search-container .search-icon {
    padding: 0;
    width: 50px; 
    height: 50px; 
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 4px 4px 0;
    background-color: #20c146;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container .search-image {
    width: 75%; 
    height: 75%; 
}


/* Media query for smaller screens (868px and below) */
@media (max-width: 868px) {
    .search-input {
        font-size: 16px;
        width: auto; 
        min-width: 200px; 
        height: 40px;
    }

    .search-container .search-icon {
        width: 40px; 
        height: 40px; 
    }

    .search-container .search-image {
        width: 70%;
        height: 70%;
    }
}

.search-container .search-icon:hover {
    background-color: #0056b3;
}
