body, html {
  margin: 0;
  padding: 0;
  background-color: #EDF1EC;
}

.browse-header-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.browse-search-container {
  display: flex;
  margin-left: 24px;
}

.browse-sort-container {
  margin-right: 24px; 
}

.browse-product-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.browse-product-card {
  flex-basis: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  padding: 20px;
  background: #fff;
}

.browse-product-card img {
  height: auto;
  border-radius: 8px;
  transition: transform 0.3s ease-in-out;
}

.browse-product-card:hover img {
  transform: scale(1.03);
  border-radius: 8px;
}

.browse-sort-dropdown {
  padding: 8px 16px;
  font-size: 18px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  cursor: pointer;
  outline: none;
}

.browse-sort-dropdown:hover,
.browse-sort-dropdown:focus {
  border-color: #888;
}

.browse-sort-dropdown option {
  padding: 10px;
  background: white;
  color: black;
}

/* Responsive styles */
@media (max-width: 1024px) {
  .browse-product-card {
    flex-basis: 50%;
  }
  
  .browse-sort-dropdown {
    font-size: 1.1vw;
    
  }
}

@media (max-width: 768px) {
  .browse-product-card {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .browse-product-card {
    padding: 10px;
  }
}
