.customised-order-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    display: flex;
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: space-between;
    align-items: flex-start; /* Align items to the top */
}

.customised-order-form input,
.customised-order-form select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}
.customised-order-form button {
    padding: 10px 20px;
    background-color: #20c146;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: center; /* Center the button */
    width: 100%; /* Full width on smaller screens */
}
.customised-order-form button:hover {
    background-color: #20c146;
}


.form-section {
    flex: 1;
    min-width: 300px; /* Ensures the sections are not too narrow on smaller screens */
    margin-bottom: 20px;
    justify-content: space-between;
}

.product-info {
    margin-right: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1; /* Ensures the label text is centered with the radio button */
}

.label-small {
    font-size: 14px;
}
.radio-group-container {
    display: flex;
    align-items: center;
    gap: 50px; /* Adjust the gap between the radio buttons as needed */
}

.radio-group {
    display: flex;
    align-items: center;
    padding: 16px 0;
    gap: 5px; /* Adjust the gap between radio button and label */
}

.radio-group input[type="radio"] {
    margin-right: 8px;
    transform: translateY(-1px);
}

.input-with-icon {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .input-with-icon input[type="text"] {
    flex: 1;
    padding-right: 40px; /* Space for the icon */
  }
  
  .file-upload-label {
    position: absolute;
    right: 10px;
    cursor: pointer;
  }
  
  .file-upload-label i {
    font-size: 18px; /* Size of the icon */
    color: #333; /* Color of the icon */
  }
  
  @media (max-width: 768px) {
    .customised-order-form {
        padding: 1rem;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .customised-order-form input,
    .customised-order-form select {
        padding: 0.8rem;
        font-size: 0.9rem;
    }

    .left-side, .right-side {
        min-width: 100%; /* Stack items vertically on smaller screens */
        margin-bottom: 1rem;
    }
}

  