/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #EDF1EC;
}

.header-bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
}

.gallery h1{
  font-size:  4.5vh;
  margin-bottom: 1%;
  text-align: center;
}

.gallery h2{
  font-size:  3vh;
  margin-bottom: 1%;
  text-align: center;
}

.gallery-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 1.5%;
}

.gallery-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}



/* Responsive styles */
@media (max-width: 1024px) {
  .product-card {
    flex-basis: 50%;
  }
}

@media (max-width: 768px) {
  .product-card {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .product-card {
    padding: 10px;
  }
}

