body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #EDF1EC;
}

.header-bar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 5%;
}

.home_product_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px; /* Adds space between product cards */
}

.home_product-card {
  flex-basis: 30%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
  text-align: center;
  padding: 20px;
  background: #fff;
}

.product-card img {
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover img {
  transform: scale(1.05);
}

.intro-section {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.home_product_section {
  text-align: center;
  font-size: 1.5vw;
  padding: 1%;
}

.testimonial-section {
  text-align: center;
  padding: 20px;
  background-color: #f4f4f4;
}

@media (max-width: 1024px) {
  .product-card {
    flex-basis: 45%;
  }
}

@media (max-width: 768px) {
  .product-card {
    flex-basis: 100%;
  }
}

@media (max-width: 480px) {
  .product-card {
    padding: 10px;
  }
}
