/* Container for the entire order management section */
.order-management {
  padding: 20px;
  background-color: #f5f5f5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* Header styling for the order management section */
.order-management h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
}

/* Error message display */
.error-message {
  color: red;
  font-weight: bold;
}

.orders-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  font-size: 14px;
}

.view-details-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

/* Styling for the order details container */
.order-details {
  margin-top: 20px;
  padding: 15px;
  background-color: #fff;
  border-radius: 5px;
}

/* Table for displaying order information */
.order-details table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

/* Alternating row color for readability */
.order-details tr:nth-child(even) {
  background-color: #f9f9f9;
}

/* Hover effect for table rows */
.order-details tr:hover {
  background-color: #f1f1f1;
}

/* Styling for buttons in the order details */
.order-item-button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  margin: 5px 0;
}

/* Back button styling */
.back-button {
  margin-bottom: 15px;
  background-color: #ff4b5c;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
}

/* Styling for images within order details */
.order-details img {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}

/* Styling for the filter dropdown */
.select-filter {
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 14px;
}

/* Responsive adjustments for screens up to 768px */
@media (max-width: 768px) {
  .order-details table {
      font-size: 12px;
  }

  .order-details th,
  .order-details td {
      padding: 8px;
  }
  .orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 12px;
  }
  .view-details-button {
    font-size: 12px !important;
  }
}

/* Responsive adjustments for screens up to 768px */
@media (max-width: 468px) {
  .order-details table {
      font-size: 12px;
  }

  .order-details th,
  .order-details td {
      padding: 8px;
  }

  .orders-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    font-size: 2.5vw;
  }

  .view-details-button {
    padding: 5px 10px !important;
    font-size: 11px !important;
  }
}
