/* src/pages/UserProfile.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #EDF1EC;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-container {
  background-color: #EDF1EC;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  margin: 20px;
}

.profile-container h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.profile-container label {
  font-size: 16px;
  color: #666;
  display: block;
  margin-bottom: 5px;
}

.profile-container input[type="text"],
.profile-container input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.profile-container .update-button {
  width: 100%;
  padding: 15px;
  font-size: 20px;
  color: white;
  background-color: #4CAF50;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.profile-container .update-button:hover {
  background-color: #45a049;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.profile-container .message {
  font-size: 14px;
  color: black;
  margin-bottom: 20px;
}
