body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  overflow-x: auto;
  flex-direction: column;
  max-width: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  width: 100%;
  max-width: 100%;  /* Prevent overflow */
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 10px 10%;
  width: 100%;
  max-width: 100%;  /* Prevent overflow */
  align-items: center;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edf1ec;
  padding: 10px 3%;
  width: 100%;
  max-width: 100%;  /* Prevent overflow */
  box-sizing: border-box;
  z-index: 1;
}

.cart-page-container, .login-page-container, .product-page-container {
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;  /* Prevent overflow */
}

.cart-table, .login-form {
  width: 100%;
  max-width: 100%;  /* Prevent overflow */
  box-sizing: border-box;
}
